:root {
    --backgroundc: antiquewhite;
    --backgroundalt: rgb(235, 219, 198);
    --gridcolor: grey;
    --headcolor: coral;
}

html {
    background-color: var(--backgroundc);
    font-size: large;
}

table,
td,
th {
    border: 1px solid;
    border-color: var(--gridcolor);
    padding: 4px;
}

tr:nth-child(odd) {
    background-color: var(--backgroundalt);
}

table {
    border-collapse: collapse;
    width: 50%
}

th {
    border: none;
    background-color: var(--headcolor);
    color: var(--backgroundc);
}

.lvl {
    width: 5%;
    text-align: center;
}


@media (max-width:480px) {
    html {
        font-size: x-large;
    }

    body {
        margin-right: 0%;
        margin-left: 0%;
    }

    table {
        width: 100%;
        border-width: 2px 0px;
    }

    td,
    th {
        border-width: 2px;
    }

    button {
        border: 2px solid;
        margin: 1%;
        color: var(--headcolor);
        background-color: transparent;
        padding: 0% 1.5% 0% 1%;

    }
}