:root {

    --backgroundc: #fff;
    --tab1: #d6e2f1;
    --tab2: #c9d0e2;
    --gridcolor: #3c3b51;
    --headcolor: #61a3ba;
    --green: #46b29e;
    --red: #c15757;
    --textcolor: #18181a;
}

@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,400;0,700;0,800;1,400&display=swap');


html {
    font-family: 'EB Garamond', serif;
    background-color: var(--backgroundc);
    font-size: large;
}

table,
td,
th {
    border: 1px solid;
    border-color: var(--gridcolor);
    padding: 4px;
}

tr:nth-child(even) {
    background-color: var(--tab1);
}

tr:nth-child(odd) {
    background-color: var(--tab2);
}

table {
    border-collapse: collapse;
    width: 50%
}

th {
    border: none;
    background-color: var(--headcolor);
    color: var(--backgroundc);

}

.lvl {
    width: 10%;
    text-align: center;
    font-weight: bold;
}

.add {
    width: 10%;
    text-align: center;
}



@media (max-width:480px) {
    html {
        font-size: x-large;
        color: var(--textcolor)
    }

    body {
        margin-right: 0%;
        margin-left: 0%;
    }

    table {
        width: 100%;
        border-width: 2px 0px;
        margin: 0;
    }

    td,
    th {
        border-width: 2px;
    }

    .adder {
        font-size: x-large;
        font-weight: bold;
        width: 100%;
        border: 2px solid;
        color: var(--headcolor);
        background-color: transparent;
        padding: 0;
        margin: 0;
        vertical-align: middle;
        transition: 1s .2s;
    }

    .adder:active {
        color: var(--backgroundc);
        background-color: var(--headcolor);
        transition: 0s;
    }

    .lvl {
        transition: 1s .2s;
    }

    .lvl:active {
        color: var(--backgroundc);
        background-color: var(--red);
        transition: 0s;
    }


    .add {
        transition: 1s .2s;
    }

    .add:active {
        color: var(--backgroundc);
        background-color: var(--green);
        transition: 0s;
    }


    .tables {
        margin-bottom: 5%;
    }
}